body{
    background-color: #333;
    height: 98vh;
}

#div-canvas
{
    display: inline-block;
    margin: auto;
    border: 2px solid  red;
}
#div-components
{  
    display: flex;
    align-items: center;
    justify-content: center 
}

#div-seles
{
    position: relative;
}

.cell{
    position: absolute;
    border: 2px solid black;
    background-color: rgb(13, 36, 70);
}

.pannel
{
    margin-top: 20px;
}

button,select
{
    margin-left: 20px;
    height: 30px;
}

span{
    border: white 2px solid;
    color: white;
    padding: 5px;
    float: right;
}

