body{
    background-image: url("../AImages/smile.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    overflow: hidden;
    margin: 0;
}

header
{
    opacity: 0.8;
    text-align: center;
}

.header{
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    font-size: 35px;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.8;
    background-color: black;
}

p{
    color: white;
}

main{
    
}

.main{
    width: 35%;
    margin-top: 7%;
    border: solid 2px black;
    border-radius: 10px;
    padding: 40px;
    opacity: 0.8;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.link{
    font-size: 35px;
    margin-top: 50px;
}

nav{
    background-color: black;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
